<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Biblioteca de ícones FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Transcriptus</title>
  </head>
  <body>
    <hr />
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Palavra inserida</h2>
        </div>
        <div class="card-body"><%= text %></div>
        <div class="card-header">
          <h2>Tradução</h2>
        </div>
        <div class="card-body">
          <ul>
            <% translation.forEach(function(word){ %>
            <button class="btn btn-primary"><%= word %><br /></button>
            <% }) %>
          </ul>
        </div>

        <div class="card-header"><h2>Pronúncia</h2></div>
        <div class="card-body"><%= engWord %></div>

        <hr />
        <br />
        <section class="image">
          <div class="image-container">
            <img src="<%= urlImage  %>" />
          </div>
        </section>
        <br />
        <audio controls>
          <source src="<%= audio %>" type="audio/mp3" />
          <source src="<%= audio %>" type="audio/mpeg" />
          Seu navegador não suporta a tag de áudio.
        </audio>
        <div class="card-header">
          <h2>Contexto</h2>
        </div>
        <div class="card-body">
          <% phrases.forEach(function(phrase) { %>
          <div class="row">
            <div class="col-sm-6">
              <%- phrase.english.replace(originalText, `<strong>
                ${originalText} </strong
              >`) %>
            </div>
            <div class="col-sm-6"><%= phrase.portuguese %></div>
          </div>
          <hr />
          <% }); %>
        </div>

        <br />

        <!-- Link de volta para a página principal -->
        <a
          href="/"
          class="btn btn-outline-secondary btn-lg mt-4 animate__animated animate__fadeInUp"
        >
          <i class="fas fa-arrow-left mr-2"></i>Voltar para a página principal
        </a>
      </div>
    </div>
  </body>
  <script src="/js/bootstrap.min.js"></script>
</html>
